<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>waka的主页</title>
    <link rel="stylesheet/less" href="/index/index.less">
    <!-- iconfont -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_390764_84rqg05kkxzuxr.css">
    <!-- swiper -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <!-- less -->
    <script src="http://cdn.bootcss.com/less.js/1.7.0/less.min.js"></script>
</head>

<body>

    <section class="main">
        <!-- 左边 -->
        <nav class="left">
            <!-- 头像 -->
            <div class="avatar" style="background-image:url(http://upload.jianshu.io/users/upload_avatars/1828354/19678a0c-3d23-4d61-9330-ef451f80a4ba.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240)"></div>
            <!-- 标题 -->
            <h1 class="title">王凯的博客</h1>
            <!-- 副标题 -->
            <h2 class="title2">Waka's Blog</h2>
            <!-- 图标按钮栏 -->
            <section class="iconButtonLayout">
                <!-- 主页 -->
                <a class="item" href="/">
                    <i class="iconfont icon-zhuye"></i>
                </a>
                <!-- 评论 -->
                <a class="item" target="_blank" href="//www.jianshu.com/u/d184d3ab9060">
                    <i class="iconfont icon-pinglun"></i>
                </a>
                <!-- 简书 -->
                <a class="item" target="_blank" href="//www.jianshu.com/u/d184d3ab9060">
                    <i class="iconfont icon-jian"></i>
                </a>
                <!-- 微博 -->
                <a class="item" target="_blank" href="//www.jianshu.com/u/d184d3ab9060">
                    <i class="iconfont icon-weibo"></i>
                </a>
            </section>
            <!-- 个人简介 -->
            <p class="desc">
                我是一个 23 岁的 程序员，爱好旅行以及一切富有创造性的事物，尤其是摄影、设计和编程。这个世界就是我的学校。学自己之所想所爱。自由的身心定能使我成为一个一直朝前行走的行者。
            </p>
        </nav>
        <!-- 右边 -->
        <section class="right">

        </section>
    </section>

    <script src="//cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
</body>

</html>